<h1>{{personnage.name}}</h1>
<ul>
<li>{{personnage.height}}</li> 
<li>{{personnage.mass}}</li>
<li>{{personnage.hair_color}}</li>
<li>{{personnage.skin_color}}</li>
<li>{{personnage.eye_color}}</li>
<li>{{personnage.birth_year}}</li> 
<li>{{personnage.gender}}</li> 
<li>{{personnage.homeworld}}</li>
<li>{{personnage.species}}</li>
<li>{{personnage.vehicles}}</li>
<li>{{personnage.starships}}</li>
<li>{{personnage.created}}</li> 
<li>{{personnage.edited}}</li> 
<li>{{personnage.url}}</li>
</ul>
<button routerLink="/recherche">Retour</button>